<section class="search-s" aria-label="Enter your question">
  <form
    class="search-s__form"
    #searchForm="ngForm"
    (ngSubmit)="(onSearchFormSubmit(searchForm.value))"
  >
    <div role="search" class="search-s__form--inner flex-col">
      <label for="search-box" class="search-s__lbl fw--black cl--dark-2"
        >Enter your question</label
      >
      <div class="search-s__input-x-btn-wrapper flex rel">
        <input
          id="search-box"
          class="search-s__search-box br--4 cl--dark-3"
          type="search"
          maxlength="80"
          required
          autocomplete="off"
          #searchString
          (ngModel)="(searchString)"
          name="searchString"
        />
        <button
          class="search-s__search-btn bg--pry-0 cl--light-1 br--4 fw--semi"
          type="submit"
        >
          Ask
        </button>
      </div>
    </div>
  </form>
</section>
