<section class="search-s">
  <h1 class="visually-hidden">Search AI database</h1>
  <form class="search-s__form" (submit)="onSearchFormSubmit($event)">
    <div role="search" class="search-s__form--inner flex-col">
      <span aria-live="polite" aria-atomic="false">
        <p class="visually-hidden" *ngIf="isSubmitting">status searching</p>
      </span>
      <label for="search-box" class="search-s__lbl fw--black cl--dark-2"
        >Enter your question</label
      >
      <div class="search-s__input-x-btn-wrapper flex rel">
        <input
          id="search-box"
          class="search-s__search-box br--4 cl--dark-3"
          type="search"
          maxlength="80"
          required
          #searchInput
          autocomplete="off"
          name="searchInput"
        />
        <button
          class="search-s__search-btn bg--pry-0 cl--light-1 br--4 fw--semi"
          [ngClass]="{busy: isSubmitting}"
          type="submit"
        >
          Ask
        </button>
      </div>
    </div>
  </form>
</section>
