@use "../abstracts/functions" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}
/* IMAGES */
img {
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

button {
  font-size: 1em;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

abbr {
  text-decoration: none;
}

button,
input,
a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul, ol {
  list-style-type: none;
}

input:focus {
  outline: none;
}
