@use '../abstracts/functions' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html{
  min-height: 100%;
}

body {
  // overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

/* IMAGES */
img {
  max-width: 100%;
  object-fit: cover;
}

/* LINKS RESET */
a {
  background-color: inherit;
  text-decoration: none;
}

