@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

:root {
  font-family: 'Inter', sans-serif, Helvetica;
  font-size: 16px;
}

.fw-black {
  font-weight: 900;
}
.fw--semi {
  font-weight: 600;
}
