<app-header> </app-header>
<main class="main" role="main">
  <section class="jumbo-s flex--col rel" aria-label="About Peefi Base">
    <div class="false-header"></div>
    <div class="jumbo-s__inner-bg">
      <div class="jumbo-s__content">
        <div class="jumbo-s__copy-area">
          <h1 class="jumbo-s__headline cl--light-1 fw--black">
            Get direct answers in seconds!
          </h1>
          <p class="jumbo-s__lead cl--light-3">
            Get <abbr title="Artificial Intelligence">AI</abbr> generated
            answers to your questions online, fast and simple.
          </p>
          <button class="jumbo-s__cta-btn fw--semi br--4 cl--dark-4 bg--pry-1"
          (click)="scrollToSearch()"
          >
            Start asking&nbsp;&nbsp;<i class="ic-terminal"></i>
          </button>
        </div>
        <div class="jumbo-s__illustration ufo-container rel" animated-ufo></div>
      </div>
    </div>

    <div class="direct-down rel">
      <i class="ic-down-arr"></i>
    </div>
  </section>
  <app-search-section #searchSection></app-search-section>
  <app-responses-section></app-responses-section>
</main>
<footer class="footer bg--dark-0 center-all" role="contentinfo">
  <p class="footer__copy cl--light-0">
    Powered by
    <a
      class="underline rel"
      href="https://openai.com"
      rel="noopener noreferrer"
      target="_blank"
      >OpenAI</a
    >
  </p>
</footer>
