<section class="responses-s" id="response-section">
  <div class="responses-s__inner">
    <div class="flex--j-space-btw responses-s__header">
      <h1 class="response-s__heading cl--dark-2 fw--semi">Responses</h1>
      <button
        class="responses-s__clear-btn br--4 fw--semi"
        (click)="onClearClick()"
      >
        Clear History
      </button>
    </div>
    <p
      class="response-s__no-response text-center cl--dark-2"
      *ngIf="(responses$ | async)?.length == 0"
    >
      No response yet. Your responses will appear here when you ask a question
    </p>

    <ol class="responses" aria-live="polite">

      <li
        class="responses__item response"
        aria-label="Question Item"
        *ngFor="let response of responses$ | async; let idx = index; let first = first;"
        tabindex="0"
        [id]="first ? 'first-question' : ''"
        tabindex="-1"
      >
        <span class="response__question-heading fw--semi cl--dark-1">
          <span aria-hidden="true" class="fw--semi">Q:&nbsp;</span
          >{{ response.question }}
        </span>
        <div [attr.aria-labelledby]="'qs'+ idx" class="response__answer-container">
          <p class="response__answer cl--dark-2">{{ response.answer }}</p>
        </div>
      </li>
    </ol>
  </div>
</section>
